body{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: rgb(44, 44, 44);
    
}
fieldset{

    color: white;
    border-radius: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;


}
input{
    
    border-color: rgb(0, 0, 0);
    color: white;
    background-color: rgb(32, 32, 32);
    border-width: 1px;
    border-color: rgb(185, 180, 180); 
    padding: 4px;
    display: inline-block;

}
label{
    display: inline-block;
}

.input_dati{
    width: 100%;
}
.dati{
   
     width: 100%;
    text-align: left;
}
.gusti{

  width: 26%;



}
div{  

    margin-left: auto;
    margin-right: auto;

    
}
legend{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
}

footer{

    width: 100%;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}   


